# Feature Selection for Model Classification

## 1. TRAIN/TEST Datasets

### Required Packages

In [1]:
%%time

### 0. Import Required Packages
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
%matplotlib inline

from sklearn.pipeline import Pipeline, make_pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer

### Import Customer Transformers
# Include 'competitive_area' as a feature
import CLUSTER_FeatureEngineering as FE

# # Use the Updated Attribute/Imputation Dictionaries!!!
# %run 'data_new/attribute_dictionary.py'
# %run 'data_new/imputation_dictionary.py'

# from sklearn.model_selection import train_test_split
# from sklearn.tree import DecisionTreeClassifier
# # from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import roc_auc_score
# from sklearn.preprocessing import LabelEncoder
# from sklearn.feature_selection import chi2, f_classif, mutual_info_classif,\
#                                       SelectKBest, SelectPercentile, SelectFromModel
# #                                     f_regression, mutual_info_regression, RFE


# Remove DataConversionWarning
import warnings
warnings.simplefilter('ignore')

CPU times: user 1.69 s, sys: 1.84 s, total: 3.53 s
Wall time: 20.2 s

### Feature Engineered TRAIN/TEST

In [2]:
%%time
with open('data_new/CLUSTER_category_mapper.pkl', 'rb') as handle:
    CLUSTER_category_mapper = pickle.load(handle)

df_train = pd.read_pickle('data_new/CLUSTER_df_train_FE.pkl')
df_test  = pd.read_pickle('data_new/CLUSTER_df_test_FE.pkl')

# TRAIN
train_X  = df_train.drop('status', axis=1).copy()
train_y  = df_train['status']

# TEST
test_X   = df_test.drop('status', axis=1).copy()
test_y   = df_test['status']

# Sample Size
print('*'*50 + '\nTRAIN vs TEST Datasets\n' + '*'*50)
# print('Competitive Area: ', df_train.competitive_area.unique())
print('The Shape of TRAIN Data: ' + str(df_train.shape))
print('The Shape of TEST Data:  ' + str(df_test.shape))

## Churn Rate by Sample Type
print('\n' + '*'*50 + '\nOverall Churn Rate\n' + '*'*50)
print('TRAIN: ', df_train.status.value_counts(normalize=True)[1].round(4))
print('TEST:  ', df_test.status.value_counts(normalize=True)[1].round(4), '\n')

# print(df_train.shape)
# print(df_train.index)

# print(df_test.shape)
# print(df_test.index)

del df_train, df_test

**************************************************
TRAIN vs TEST Datasets
**************************************************
The Shape of TRAIN Data: (1662348, 1099)
The Shape of TEST Data:  (1656204, 1099)

**************************************************
Overall Churn Rate
**************************************************
TRAIN:  0.0154
TEST:   0.0153

CPU times: user 29.6 s, sys: 1min 45s, total: 2min 15s
Wall time: 6min 17s

## 2. Feature Selection

### Tree-Based Feature Selection

In [3]:
%%time

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score

features_ALL = train_X.columns.tolist()
features_ALL.sort()

roc_auc      = []

for fe in features_ALL:
    clf      = DecisionTreeClassifier()
    clf.fit(train_X[fe].to_frame(), train_y)
    pred_y   = clf.predict_proba(test_X[fe].to_frame())
    roc_auc.append(roc_auc_score(test_y, pred_y[:, 1]))
#     print(f'{fe}: {roc_auc_score(test_y, pred_y[:, 1])}')

result_tree  = pd.DataFrame({'feature': features_ALL, 'roc_auc': roc_auc})
result_tree  = result_tree.sort_values('roc_auc', ascending=False)
result_tree['ranking_tree'] = np.arange(1, result_tree.shape[0]+1, 1)

# CPU times: user 34min 54s, sys: 1min 3s, total: 35min 57s
# Wall time: 35min 59s

CPU times: user 32min 41s, sys: 52.1 s, total: 33min 33s
Wall time: 33min 35s

### Univariate Feature Selection

In [4]:
%%time

import sklearn.feature_selection as FS

features_ALL = train_X.columns.tolist()
features_NUM = [fe for fe in train_X.columns if 'NUM' in fe]
features_CAT = [fe for fe in test_X.columns if 'CAT' in fe]

features_ALL.sort()
features_NUM.sort()
features_CAT.sort()

### ANOVA test for ALL Features
anova, pval  = FS.f_classif(train_X[features_ALL], train_y)
result_anova = pd.DataFrame({'feature': features_ALL, 'anova': anova, 'pval_anova': pval})
result_anova = result_anova.sort_values('anova', ascending=False)
result_anova['ranking_anova'] = np.arange(1, result_anova.shape[0]+1, 1)


### chi-2 test for CAT Features
chi2, pval   = FS.chi2(train_X[features_CAT], train_y)
result_chi2  = pd.DataFrame({'feature': features_CAT, 'chi2': chi2, 'pval_chi2': pval})
result_chi2  = result_chi2.sort_values('chi2', ascending=False)
result_chi2['ranking_chi2'] = np.arange(1, result_chi2.shape[0]+1, 1)


### Correlation for All Features
corr_train   = train_X[features_ALL].apply(lambda x: x.corr(train_y))
corr_test    = test_X[features_ALL].apply(lambda x: x.corr(test_y))
result_corr  = pd.DataFrame({'corr_train': corr_train, 'corr_test': corr_test}).\
               reset_index().rename(columns={'index': 'feature'})
result_corr['corr_train_abs'] = result_corr.corr_train.abs()
result_corr                   = result_corr.sort_values('corr_train_abs', ascending=False)
result_corr['ranking_corr']   = np.arange(1, result_corr.shape[0]+1, 1)
result_corr.drop('corr_train_abs', axis=1, inplace=True)

CPU times: user 2min 4s, sys: 1min 13s, total: 3min 18s
Wall time: 3min 18s

In [9]:
result_corr

,feature,corr_train,corr_test,ranking_corr
195,CAT_grp_tenure_1m,0.059781,0.059305,1
196,CAT_grp_tenure_3m,0.059031,0.060119,2
197,CAT_grp_tenure_6m,0.058728,0.060893,3
53,CAT_GRP_PAYMENT_25DOLLAR-grp_tenure_3m,0.053701,0.054279,4
11,CAT_GRP_CALL_BILL-grp_tenure_3m,0.053670,0.054585,5
44,CAT_GRP_CALL_TSR-grp_tenure_3m,0.053311,0.053101,6
374,CAT_restarttengrp,0.052166,0.053040,7
61,CAT_GRP_PAYMENT_CHANGE_10DOLLAR-grp_tenure_3m,0.051986,0.053055,8
81,CAT_GRP_TENURE_3M-age_demos,0.051741,0.050464,9
82,CAT_GRP_TENURE_3M-archetype,0.051451,0.052368,10
23,CAT_GRP_CALL_CSC-grp_tenure_3m,0.051260,0.052131,11
79,CAT_GRP_PAYMENT_METHOD-grp_tenure_3m,0.051169,0.049784,12
74,CAT_GRP_PAYMENT_INCOME-grp_tenure_3m,0.051152,0.050349,13
84,CAT_GRP_TENURE_3M-income_demos,0.050818,0.049069,14
257,CAT_ov_offer_desc_m4,0.049811,0.046197,15
230,CAT_ool_offer_desc_m4,0.049663,0.048769,16
256,CAT_ov_offer_desc_m3,0.049564,0.049488,17
34,CAT_GRP_CALL_CSR-grp_tenure_3m,0.049504,0.051045,18
68,CAT_GRP_PAYMENT_CHANGE_5PCT-grp_tenure_3m,0.049414,0.053750,19
206,CAT_kom_tenure_grp,0.049092,0.049389,20
103,CAT_competitive_area,0.048821,0.056509,21
255,CAT_ov_offer_desc_m2,0.048764,0.046931,22
229,CAT_ool_offer_desc_m3,0.048487,0.047265,23
83,CAT_GRP_TENURE_3M-ethnic,0.048380,0.050226,24
135,CAT_curr_ool_tier_desc2_m4,0.047531,0.043641,25
228,CAT_ool_offer_desc_m2,0.047471,0.047641,26
254,CAT_ov_offer_desc_m1,0.047284,0.044907,27
895,NUM_restartten,-0.046872,-0.048154,28
747,NUM_kom_tenure,-0.046631,-0.048314,29
227,CAT_ool_offer_desc_m1,0.046312,0.046524,30
...,...,...,...,...
336,CAT_prgm_oneworldsports_m3,NaN,NaN,1069
337,CAT_prgm_oneworldsports_m4,NaN,NaN,1070
371,CAT_range_extend_m1,NaN,NaN,1071
372,CAT_range_extend_m2,NaN,NaN,1072
376,CAT_rewindbuf_chrg_m1,NaN,NaN,1073
384,CAT_rsdvr_160free_m1,NaN,NaN,1074
385,CAT_rsdvr_160free_m2,NaN,NaN,1075
386,CAT_rsdvr_160pay_m1,NaN,NaN,1076
387,CAT_rsdvr_160pay_m2,NaN,NaN,1077
388,CAT_rsdvr_160promo_m1,NaN,NaN,1078
389,CAT_rsdvr_160promo_m2,NaN,NaN,1079
412,CAT_rsdvr_plus_pay_m1,NaN,NaN,1080
436,CAT_tollfree_m1,NaN,NaN,1081
437,CAT_tollfree_m2,NaN,NaN,1082
448,CAT_viddown_m1,NaN,NaN,1083
471,CAT_virtual_recep_m1,NaN,NaN,1084
472,CAT_virtual_recep_m2,NaN,NaN,1085
703,NUM_curr_addl_did_blocks,NaN,NaN,1086
704,NUM_curr_sip_sessions,NaN,NaN,1087
705,NUM_curr_tf_lines,NaN,NaN,1088
827,NUM_othercall_m1,NaN,NaN,1089
828,NUM_othercall_m2,NaN,NaN,1090
829,NUM_othercall_m3,NaN,NaN,1091
830,NUM_othercall_m4,NaN,NaN,1092
831,NUM_othercall_m5,NaN,NaN,1093
832,NUM_othercall_m6,NaN,NaN,1094
955,NUM_save_sale_m1,NaN,NaN,1095
956,NUM_save_sale_m2,NaN,NaN,1096
957,NUM_save_sale_m3,NaN,NaN,1097
958,NUM_save_sale_m4,NaN,NaN,1098

### Univariate Feature Selection: Mutual Information
***Note: It takes too long!!!***

In [5]:
# %%time

# # Use Features with abs(corr) > 0.01
# # 477 out of 1098 Features
# flag_corr          = (result_corr.corr_train.abs() > 0.01)
# features_flag_corr = result_corr[flag_corr].feature.tolist()
# features_flag_corr.sort()

# # ### Mutual Information for ALL Features
# MI                 = FS.mutual_info_classif(train_X[features_flag_corr], train_y)
# result_MI          = pd.DataFrame({'feature': features_flag_corr, 'mutual_info': MI})
# result_MI          = result_MI.sort_values('mutual_info', ascending=False)
# result_MI['ranking_MI'] = np.arange(1, result_MI.shape[0]+1, 1)

# result_MI.to_pickle('data_new/CLUSTER_result_MI.pkl')

# # CPU times: user 7h 55s, sys: 2min 30s, total: 7h 3min 26s
# # Wall time: 7h 3min 4s

In [10]:
result_MI = pd.read_pickle('data_new/CLUSTER_result_MI.pkl')
result_MI
# result_MI.to_csv('data_new/CLUSTER_result_MI.csv')

### Saving Feature Selection Results

In [56]:
# Append Feature Description from Churn Data Dictionary
df_dictionary = pd.read_csv('data_new/Master Customer Attribute Dictionary 03 19 2019.csv', \
                            usecols=['Attribute', 'Description', 'Type'], encoding = 'unicode_escape')

result_tree['Attribute'] = result_tree.feature.str.strip('NUM_').str.strip('CAT_')
result_all    = result_tree.merge(result_corr, how='left', on='feature').\
                            merge(result_MI, how='left', on='feature').\
                            merge(result_anova, how='left', on='feature').\
                            merge(result_chi2, how='left', on='feature').\
                            merge(df_dictionary, how='left', on='Attribute')
result_all.drop(['Attribute', 'Type'], axis=1, inplace=True)

# Save in pickle
result_all.to_pickle('data_new/CLUSTER_result_ALL.pkl')
result_all.head(n=200).to_pickle('data_new/CLUSTER_result_ALL_Top200.pkl')

# Save in csv
result_all.to_csv('data_new/CLUSTER_result_ALL.csv', index=False)
result_all.head(n=200).to_csv('data_new/CLUSTER_result_ALL_Top200.csv', index=False)

result_all

,feature,roc_auc,ranking_tree,corr_train,corr_test,ranking_corr,mutual_info,ranking_MI,anova,pval_anova,ranking_anova,chi2,pval_chi2,ranking_chi2,Description
0,NUM_restartten,0.633885,1,-0.046872,-0.048154,28,0.002546,365.0,3660.141903,0.000000e+00,28,NaN,NaN,NaN,months from restart date/latest install
1,NUM_kom_tenure,0.633712,2,-0.046631,-0.048314,29,0.002477,367.0,3622.593591,0.000000e+00,29,NaN,NaN,NaN,KOM tenure (calculated from KOM field Cust_ten...
2,CAT_grp_tenure_6m,0.631704,3,0.058728,0.060893,3,0.018248,280.0,5753.327759,0.000000e+00,3,35357.991057,0.000000,3.0,NaN
3,CAT_competitive_area,0.630846,4,0.048821,0.056509,21,0.103054,55.0,3971.701591,0.000000e+00,21,4165.913453,0.000000,108.0,NaN
4,CAT_grp_tenure_3m,0.630650,5,0.059031,0.060119,2,0.009491,310.0,5813.047720,0.000000e+00,2,70555.657341,0.000000,2.0,NaN
5,CAT_grp_tenure_1m,0.629519,6,0.059781,0.059305,1,0.004564,343.0,5962.108869,0.000000e+00,1,215811.510305,0.000000,1.0,NaN
6,CAT_GRP_CALL_BILL-grp_tenure_3m,0.622124,7,0.053670,0.054585,5,0.038551,201.0,4802.196635,0.000000e+00,5,26911.277402,0.000000,4.0,NaN
7,CAT_GRP_CALL_TSR-grp_tenure_3m,0.621309,8,0.053311,0.053101,6,0.065959,112.0,4737.894560,0.000000e+00,6,12874.317488,0.000000,18.0,NaN
8,CAT_GRP_PAYMENT_CHANGE_10DOLLAR-grp_tenure_3m,0.619866,9,0.051986,0.053055,8,0.079967,80.0,4504.664588,0.000000e+00,8,14298.272714,0.000000,16.0,NaN
9,CAT_GRP_PAYMENT_25DOLLAR-grp_tenure_3m,0.619772,10,0.053701,0.054279,4,0.112671,41.0,4807.758040,0.000000e+00,4,8993.265276,0.000000,33.0,NaN
10,CAT_GRP_CALL_CSR-grp_tenure_3m,0.617659,11,0.049504,0.051045,18,0.062619,127.0,4083.764864,0.000000e+00,18,16632.496064,0.000000,11.0,NaN
11,CAT_GRP_TENURE_3M-age_demos,0.617518,12,0.051741,0.050464,9,0.107864,51.0,4462.231602,0.000000e+00,9,7808.333252,0.000000,46.0,NaN
12,CAT_GRP_TENURE_3M-income_demos,0.616815,13,0.050818,0.049069,14,0.110150,44.0,4304.129550,0.000000e+00,14,7251.426267,0.000000,50.0,NaN
13,CAT_GRP_TENURE_3M-archetype,0.616562,14,0.051451,0.052368,10,0.113431,39.0,4412.260054,0.000000e+00,10,8226.845978,0.000000,42.0,NaN
14,CAT_GRP_PAYMENT_CHANGE_5PCT-grp_tenure_3m,0.615099,15,0.049414,0.053750,19,0.085695,76.0,4068.925718,0.000000e+00,19,6724.884052,0.000000,57.0,NaN
15,NUM_min_anarev_m1_m6,0.613992,16,-0.039195,-0.034022,70,0.015801,288.0,2557.639839,0.000000e+00,70,NaN,NaN,NaN,Minimum analog revenue in the recent 6 months
16,CAT_GRP_PAYMENT_INCOME-grp_tenure_3m,0.613890,17,0.051152,0.050349,13,0.137041,29.0,4360.991955,0.000000e+00,13,10875.030306,0.000000,25.0,NaN
17,CAT_GRP_PAYMENT_METHOD-grp_tenure_3m,0.613740,18,0.051169,0.049784,12,0.085060,77.0,4363.953845,0.000000e+00,12,11961.555860,0.000000,22.0,NaN
18,CAT_GRP_TENURE_3M-ethnic,0.613468,19,0.048380,0.050226,24,0.118476,38.0,3900.032004,0.000000e+00,24,7815.645771,0.000000,45.0,NaN
19,CAT_restarttengrp,0.611269,20,0.052166,0.053040,7,0.046853,167.0,4536.037581,0.000000e+00,7,9579.962639,0.000000,31.0,months from restart date/latest install-grouping
20,CAT_GRP_CALL_CSC-grp_tenure_3m,0.610970,21,0.051260,0.052131,11,0.092330,72.0,4379.540208,0.000000e+00,11,14700.409449,0.000000,15.0,NaN
21,CAT_kom_tenure_grp,0.610516,22,0.049092,0.049389,20,0.035043,214.0,4015.897772,0.000000e+00,20,6431.698329,0.000000,59.0,grouping of KOM tenure into ranges - usually u...
22,CAT_ool_offer_desc_m4,0.609335,23,0.049663,0.048769,16,0.036964,210.0,4110.176130,0.000000e+00,16,21859.367238,0.000000,5.0,ool offer description
23,NUM_anarev_m4,0.607824,24,-0.039418,-0.034087,69,0.024592,258.0,2586.975793,0.000000e+00,69,NaN,NaN,NaN,analog revenue
24,CAT_ov_offer_desc_m3,0.605868,25,0.049564,0.049488,17,0.030911,237.0,4093.690352,0.000000e+00,17,20317.365997,0.000000,7.0,ov offer description
25,NUM_baserev_m5,0.604340,26,-0.037736,-0.033116,90,0.005567,337.0,2370.588386,0.000000e+00,90,NaN,NaN,NaN,"base revenue (sum of product revenue - Analog,..."
26,CAT_ool_offer_desc_m3,0.604262,27,0.048487,0.047265,23,0.039890,192.0,3917.388334,0.000000e+00,23,20570.357926,0.000000,6.0,ool offer description
27,NUM_anarev_m3,0.603960,28,-0.038718,-0.033090,78,0.024619,257.0,2495.689782,0.000000e+00,78,NaN,NaN,NaN,analog revenue
28,NUM_baserev_m4,0.603627,29,-0.037093,-0.032311,104,0.006645,330.0,2290.394263,0.000000e+00,104,NaN,NaN,NaN,"base revenue (sum of product revenue - Analog,..."
29,CAT_ov_offer_desc_m4,0.602939,30,0.049811,0.046197,15,0.031001,235.0,4134.701353,0.000000e+00,15,19442.052428,0.000000,9.0,ov offer description
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,NUM_ttl_streaming_usage_in_gb_m1,0.491561,1069,0.012809,0.012156,393,0.000446,400.0,272.799590,2.816164e-61,393,NaN,NaN,NaN,Real Time Entertainment Internet Usage
1069,NUM_acu_ool_usage_up_mb_m2,0.490715,1070,0.004009,0.004871,573,NaN,NaN,26.721774,2.349860e-07,573,NaN,NaN,NaN,Total MB OOL Usage Upstream (excludes WiFi net...
1070,NUM_ttl_non_streaming_usage_in_gb_m6,0.490239,1071,0.007647,0.009442,454,NaN,NaN,97.216115,6.224892e-23,454,NaN,NaN,NaN,Non Streaming Internet Usage
1071,NUM_ttl_streaming_usage_in_gb_m2,0.490042,1072,0.012465,0.014389,400,0.000164,421.0,258.331899,4.004227e-58,400,NaN,NaN,NaN,Real Time Entertainment Internet Usage
1072,NUM_ttl_chg_revenue_m1_m6,0.489509,1073,0.008496,0.007905,444,NaN,NaN,119.997943,6.346587e-28,444,NaN,NaN,NaN,Sum of all the changes in the recent 6 months ...
1073,NUM_base_rev_perc_change_6m,0.489481,1074,0.003761,0.008078,584,NaN,NaN,23.516669,1.238474e-06,584,NaN,NaN,NaN,% Change in base revenue over last 6 months
1074,NUM_ttl_internet_usage_in_gb_m3,0.489115,1075,0.008056,0.014122,450,NaN,NaN,107.887230,2.850222e-25,450,NaN,NaN,NaN,Total Internet Usage
1075,NUM_ttl_streaming_usage_in_gb_m6,0.488586,1076,0.016017,0.014053,351,0.000309,402.0,426.569940,9.319343e-95,351,NaN,NaN,NaN,Real Time Entertainment Internet Usage
1076,NUM_ttl_internet_usage_in_gb_m6,0.488364,1077,0.014584,0.014220,375,0.000081,425.0,353.646526,6.938761e-79,375,NaN,NaN,NaN,Total Internet Usage
1077,NUM_ttl_streaming_usage_in_gb_m5,0.488358,1078,0.016124,0.014897,350,0.000393,401.0,432.314038,5.242061e-96,350,NaN,NaN,NaN,Real Time Entertainment Internet Usage
1078,NUM_ttl_streaming_usage_in_gb_m3,0.488166,1079,0.010712,0.014730,421,0.000203,414.0,190.775708,2.164783e-43,421,NaN,NaN,NaN,Real Time Entertainment Internet Usage
1079,NUM_ttl_non_streaming_usage_in_gb_m4,0.487890,1080,0.004731,0.007853,536,NaN,NaN,37.206481,1.062833e-09,536,NaN,NaN,NaN,Non Streaming Internet Usage
1080,NUM_ttl_internet_usage_in_gb_m5,0.487214,1081,0.014371,0.014491,378,0.000243,410.0,343.388549,1.187574e-76,378,NaN,NaN,NaN,Total Internet Usage
1081,NUM_ttl_internet_usage_in_gb_m4,0.486483,1082,0.010754,0.013942,420,0.000180,418.0,192.252315,1.030749e-43,420,NaN,NaN,NaN,Total Internet Usage
1082,NUM_ttl_streaming_usage_in_gb_m4,0.485515,1083,0.012763,0.014725,394,0.000198,416.0,270.841422,7.522322e-61,394,NaN,NaN,NaN,Real Time Entertainment Internet Usage
1083,NUM_chg_revenue_m4_m5,0.484221,1084,0.002948,0.005315,641,NaN,NaN,14.443883,1.444032e-04,641,NaN,NaN,NaN,Total revenue change in the months m4 and m5
1084,NUM_chg_othrrev_m4_m5,0.483447,1085,0.008152,0.004788,448,NaN,NaN,110.483261,7.693472e-26,448,NaN,NaN,NaN,Other (total revenue-base revenue) revenue c...
1085,NUM_ttl_rev_abs_change_6m,0.483182,1086,0.006647,0.011424,474,NaN,NaN,73.454096,1.030899e-17,474,NaN,NaN,NaN,6 month revenue change
1086,CAT_stz_enc_svod,0.482826,1087,0.000260,-0.011883,995,NaN,NaN,0.112381,7.374497e-01,995,0.004808,0.944717,411.0,starz/encore svod
1087,NUM_min_sports_sc_rev_m1_m6,0.479409,1088,-0.014590,-0.001345,373,0.241283,2.0,353.935475,6.003084e-79,373,NaN,NaN,NaN,Minimum Sport Surcharge revenue in the recent...
1088,NUM_sports_sc_rev_m1,0.478500,1089,-0.009129,0.000246,433,NaN,NaN,138.556654,5.522342e-32,433,NaN,NaN,NaN,Sports Surcharge Revenue
1089,NUM_sports_sc_rev_m2,0.477473,1090,-0.008884,0.000740,437,NaN,NaN,131.197504,2.247466e-30,437,NaN,NaN,NaN,Sports Surcharge Revenue
1090,NUM_non_zero_cnt_oolrev,0.477111,1091,-0.013401,0.011180,388,0.053303,151.0,298.572033,6.835027e-67,388,NaN,NaN,NaN,count of non-zero OOL revenue months in the re...
1091,NUM_sports_sc_rev_m3,0.476340,1092,-0.008665,0.001535,440,NaN,NaN,124.819198,5.588258e-29,440,NaN,NaN,NaN,Sports Surcharge Revenue
1092,NUM_sports_sc_rev_m4,0.475989,1093,-0.008188,0.000575,447,NaN,NaN,111.467996,4.681776e-26,447,NaN,NaN,NaN,Sports Surcharge Revenue
1093,NUM_max_sports_sc_rev_m1_m6,0.475052,1094,-0.014131,0.003467,381,0.241924,1.0,331.993520,3.596178e-74,381,NaN,NaN,NaN,Maximum Sport Surcharge revenue in the recent...
1094,NUM_ttl_rev_perc_change_3m,0.473521,1095,-0.000234,0.009056,1006,NaN,NaN,0.091297,7.625352e-01,1006,NaN,NaN,NaN,3 month revenue % change
1095,NUM_avg_sports_sc_rev_m1_m6,0.472632,1096,-0.010827,0.000860,418,0.177390,18.0,194.881400,2.750436e-44,418,NaN,NaN,NaN,Average sport surcharge revenue in the recent ...
1096,NUM_period_chg_othrrev_m1_m6,0.471422,1097,0.005234,0.004528,523,NaN,NaN,45.547245,1.490496e-11,523,NaN,NaN,NaN,Other (total revenue-base revenue) revenue ch...
1097,NUM_non_zero_cnt_revenue,0.467774,1098,0.000303,0.018152,984,NaN,NaN,0.152223,6.964203e-01,984,NaN,NaN,NaN,count of non-zero total revenue months in the ...

In [7]:
%%time
fe          = 'CAT_ethnic'
fe_original = fe.replace('CAT_', '')
map1        = CLUSTER_category_mapper[fe_original]
map2        = pd.Series({i:j for j, i in map1.items()})

tmp1        = pd.concat([train_y, train_X], axis=1).groupby(fe)['status'].mean()
tmp2        = pd.concat([test_y, test_X], axis=1).groupby(fe)['status'].mean()
tmp3        = pd.DataFrame({fe_original: map2, 'TRAIN': tmp1, 'TEST': tmp2})
print(tmp3)

                            ethnic     TRAIN      TEST
CAT_ethnic
0                 WESTERN EUROPEAN  0.011948  0.012104
1                    MEDITERRANEAN  0.012201  0.012603
2                     SCANDINAVIAN  0.012491  0.011770
3             MIDDLE EAST NON-ARAB  0.013673  0.013662
4                 EASTERN EUROPEAN  0.014408  0.013569
5                 AFRICAN AMERICAN  0.015745  0.015576
6           CARIBBEAN NON-HISPANIC  0.016373  0.017840
7                  SOUTHEAST ASIAN  0.018505  0.019351
8                        all_other  0.019874  0.020135
9                       EAST ASIAN  0.021664  0.019941
10                        HISPANIC  0.022803  0.021650
11                     SOUTH ASIAN  0.025634  0.027096
CPU times: user 14.1 s, sys: 25.6 s, total: 39.7 s
Wall time: 39.7 s

In [8]:
%%time
fe          = 'CAT_competitive_area'
fe_original = fe.replace('CAT_', '')
map1        = CLUSTER_category_mapper[fe_original]
map2        = pd.Series({i:j for j, i in map1.items()})

tmp1        = pd.concat([train_y, train_X], axis=1).groupby(fe)['status'].mean()
tmp2        = pd.concat([test_y, test_X], axis=1).groupby(fe)['status'].mean()
tmp3        = pd.DataFrame({fe_original: map2, 'TRAIN': tmp1, 'TEST': tmp2})
print(tmp3)

                               competitive_area     TRAIN      TEST
CAT_competitive_area
0                          Non-Competitive Area  0.008417  0.007479
1                      U-verse Competitive Area  0.009252  0.008077
2                     Pre-Fios Competitive Area  0.016300  0.015230
3                         Fios Competitive Area  0.017105  0.017094
4                     Fios ONT Competitive Area  0.031425  0.034022
CPU times: user 14.3 s, sys: 25.6 s, total: 39.8 s
Wall time: 39.8 s

In [40]:
%%time
fe          = 'CAT_archetype'
fe_original = fe.replace('CAT_', '')
map1        = CLUSTER_category_mapper[fe_original]
map2        = pd.Series({i:j for j, i in map1.items()})

tmp1        = pd.concat([train_y, train_X], axis=1).groupby(fe)['status'].mean()
tmp2        = pd.concat([test_y, test_X], axis=1).groupby(fe)['status'].mean()
tmp3        = train_X[fe].value_counts(normalize=True)
tmp4        = pd.DataFrame({fe_original: map2, 'TRAIN': tmp1, 'TEST': tmp2, 'Seg_Pct': tmp3})
print(tmp4)

                   archetype     TRAIN      TEST   Seg_Pct
0                  all_other  0.010025  0.013678  0.004800
1    Indulgent Empty Nesters  0.010709  0.011297  0.220420
2    Busy Families Achievers  0.013569  0.014962  0.197512
3              Empty Nesters  0.016355  0.015695  0.309885
4         Movers and Shakers  0.016980  0.017437  0.041485
5     Busy Families Dreamers  0.019887  0.017937  0.039596
6  Industrious Entertain-Mes  0.019917  0.018596  0.097829
7         Tech Savvy Singles  0.020465  0.018698  0.066695
8              Tech Sensible  0.020938  0.019476  0.021778
CPU times: user 14.9 s, sys: 28.5 s, total: 43.4 s
Wall time: 43.4 s